@page
@model FoodDelivery.Pages.Customer.Cart.SummaryModel
@using Infrastructure.Services
@using Infrastructure.Utilities
@using Microsoft.Extensions.Options
@inject IOptions<Infrastructure.Services.StripeSettings> Stripe

@{
    ViewData["Title"] = "Summary";
}

<form method="post">

    @if (Model.OrderDetailsCart.ListCart.Count() > 0)
    {
        <input asp-for="@Model.OrderDetailsCart.ListCart.ToList()[0].ApplicationUserId" hidden />
        <div class="backgroundWhiteBorder">
            <div class="container">
                <div class="card">
                    <div class="card-header bg-dark text-light ml-0 row container">
                        <div class="col-6">
                            <i class="fa fa-shopping-cart"></i> &nbsp;
                            Order Summary
                        </div>
                        <div class="col-6 text-end">
                            <a asp-page="Index" class="btn btn-outline-info btn-sm">Back to Cart</a>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="container rounded p-2">
                            <div class="row">
                                <div class="col-12 col-lg-6 pb-4">
                                    <div class="row">
                                        <h4 class="d-flex justify-content-between align-items-center mb-3">
                                            <span class="text-info">Delivery Details:</span>
                                        </h4>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Name</label>
                                        </div>
                                        <div class="col-9">
                                            <input id="txtName" asp-for="@Model.OrderDetailsCart.OrderHeader.DeliveryName" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Phone Number</label>
                                        </div>
                                        <div class="col-9">
                                            <input id="txtPhone" asp-for="@Model.OrderDetailsCart.OrderHeader.PhoneNumber" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Delivery Date</label>
                                        </div>
                                        <div class="col-9">
                                            <input id="datepicker" value="" asp-for="@Model.OrderDetailsCart.OrderHeader.DeliveryDate" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Delivery Time</label>
                                        </div>
                                        <div class="col-9">
                                            <input id="timepicker" value="" asp-for="@Model.OrderDetailsCart.OrderHeader.DeliveryTime" type="text" class="form-control" />
                                        </div>
                                    </div>
                                    <div class="row my-1">
                                        <div class="col-3">
                                            <label>Additional Instructions: </label>
                                        </div>
                                        <div class="col-9">
                                            <textarea asp-for="@Model.OrderDetailsCart.OrderHeader.Comments" style="height:100px;" class="form-control"></textarea>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-12 col-lg-5 offset-lg-1">
                                    <h4 class="d-flex justify-content-between align-items-center mb-3">
                                        <span class="text-info">Order Summary:</span>
                                    </h4>
                                    <ul class="list-group mb-3">
                                        @{
                                            var total = 0.0;
                                        }
                                        @foreach (var details in Model.OrderDetailsCart.ListCart)
                                        {
                                            <li class="list-group-item d-flex justify-content-between">
                                                <div>
                                                    <h6 class="my-0">@details.MenuItem.Name</h6>
                                                    <small class="text-muted">Quantity: @details.Count</small>
                                                </div>
                                                <span class="text-muted">$@((details.MenuItem.price * details.Count).ToString("0.00"))</span>
                                                @{
                                                    total += (details.MenuItem.price * details.Count);
                                                }
                                            </li>
                                        }
                                        
                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <small class="text-info">Sales Tax (@SD.SalesTaxRate%)</small>
                                            @{
                                                var salesTax = Math.Round((total * SD.SalesTaxPercent), 2);
                                            }
                                            <strong class="text-info">$@salesTax.ToString("0.00")</strong>
                                        </li>

                                        @if (!string.IsNullOrEmpty(Model.OrderDetailsCart.OrderHeader.CouponCode))
                                        {
                                            <li class="list-group-item d-flex justify-content-between bg-light">
                                                <small class="text-info">Coupon (@Model.OrderDetailsCart.OrderHeader.CouponCode)</small>
                                                <strong class="text-info">- $@Model.OrderDetailsCart.OrderHeader.DiscountAmount.ToString("0.00")</strong>
                                            </li>
                                        }

                                        <li class="list-group-item d-flex justify-content-between bg-light">
                                            <small class="text-info">Total (USD)</small>
                                            @{
                                                var finalTotal = total + salesTax - Model.OrderDetailsCart.OrderHeader.DiscountAmount;
                                            }
                                            <strong class="text-info">$@finalTotal.ToString("0.00")</strong>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-12 col-md-4 offset-md-8">
                                @{
                                    var OrderTotalForStripe = Math.Round((Model.OrderDetailsCart.OrderHeader.OrderTotal * 100), 0);
                                }
                                <script src="https://checkout.stripe.com/checkout.js"
                                        class="stripe-button"
                                        data-key="@Stripe.Value.PublishableKey"
                                        data-amount="@OrderTotalForStripe"
                                        data-name="3750 Food Delivery Demo"
                                        data-label="Place Order"
                                        data-description="Good Food, Delivered Fast."
                                        data-locale="auto"
                                        data-allow-remember-me="false"
                                        data-image="https://stripe.com/img/documentation/checkout/marketplace.png"></script>

                                <script>document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';</script>
                                <button type="submit" id="btnPlaceOrder" onclick="return validateInput()" value="Place Order" class="btn btn-success form-control">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</form>

@section Scripts {
    <script>
        $(function () {
                        $("#datepicker").datepicker({ minDate: 1, maxDate: "+1W" });
                        $("#timepicker").timepicker({ 'minTime': '11:00 AM', 'maxTime': '9:00 PM', step: '30' });
                    });


                    function validateInput() {
                        var time = document.getElementById("timepicker").value;
                        var dt = document.getElementById("datepicker").value;
                        var name = document.getElementById("txtName").value;
                        var phone = document.getElementById("txtPhone").value;

                        if (dt.toString() == '') {
                            swal("Error", "Please select Delivery Date", "error");
                            return false;
                        }
                        if (time.toString() == '') {
                            swal("Error", "Please select Delivery Time", "error");
                            return false;
                        }
                        if (name.toString() == '') {
                            swal("Error", "Please enter a Name", "error");
                            return false;
                        }
                        if (phone.toString() == '') {
                            swal("Error", "Please enter Phone Number", "error");
                            return false;
                        }
                        return true;
                    }</script>
}
